<!-- aside item: Tiny Stats -->
<div class="number-stats">
    <ul>
        <li>{% block jarvis_stat_v1 %}{% endblock %}<span>{% block jarvis_stat_l1 %}{% endblock %}</span></li>
        <li>{% block jarvis_stat_v2 %}{% endblock %}<span>{% block jarvis_stat_l2 %}{% endblock %}</span></li>
        <li>{% block jarvis_stat_v3 %}{% endblock %}<span>{% block jarvis_stat_l3 %}{% endblock %}</span></li>
    </ul>
</div>

<!-- end aside item: Tiny Stats -->

<!-- aside buttons
<div class="divider"></div>
<div class="aside-buttons">
    <a href="javascript:void(0)" title="" class="btn btn-primary">Create an Invoice</a>
</div>
 end aside buttons -->
