
<div class="sidebar-nav-fixed">

<ul class="menu" id="accordion-menu-js">
    <li class="current">
        <a href="javascript:void(0)"><i class="icon-off"></i>Dashboard</a>
        <ul>
            <li>
                <a href="{{ app.request.baseUrl }}" class="expanded">Home</a>
            </li>
            {% if app.user is not null %}
            <li>
                <a href="{{ path("fos_user_security_logout") }}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </li>

{% block menu %}{% endblock %}            
</ul>

</div>
<div class="divider"></div>