{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Sf2PastebinSecurity creation</h1>

    {{ form(form) }}

        <div class="form-actions">
    <a class="btn medium" href="{{ path('crud_pastebin') }}">Regresar a la lista</a>
    </div>
<div class="form-actions">
    </div>
{% endblock %}
